server/localdev-config.json
localdev-config.json
server/localdev-config.json
.vscode/settings.json
Weather/geckodriver.log
*.iml
*.xml
.DS_Store
*.json
Weather/.vscode/.ropeproject/objectdb
Weather/.vscode/.ropeproject/config.py
*.pyc

