################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode/settings.json
Weather/geckodriver.log
*.iml
*.xml
.DS_Store
*.json
Weather/.vscode/.ropeproject/objectdb
Weather/.vscode/.ropeproject/config.py
Weather/WeatherScraper.pyc
*.pyc
