anaconda==0.0.1.1
bottle==0.12.16
certifi==2018.11.29
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
Cython==0.29.6
Django==1.11.18
Flask==0.12.4
geographiclib==1.49
geopy==1.18.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
netCDF4==1.5.0
nio==3.4.2
numpy==1.16.2
pip==19.0.3
pyjade==2.2.0
PyMySQL==0.9.3
pytz==2018.9
requests==2.21.0
safepickle==0.2.0
setuptools==40.8.0
six==1.12.0
urllib3==1.24.1
virtualenv==12.1.1
Werkzeug==0.14.1
