vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|25 Jul 2000 20:27:45 -0500
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|msiis
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1105
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.idc.txt.
vti_defaultcharset:SR|none
vti_missingoverlays:VX|
vti_themedefault:SR|global 101
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|Default.htm Default.asp
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.htx.shtml.shtm.asp.alx.asa.
vti_borderdefault:SR|tl
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport
vti_title:SR|My New Web
