vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_textextensions:SX|.txt.txt.
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|06 May 2000 16:31:16 -0500
vti_oldestcompatibleversion:SR|2.0.0.0
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1105
vti_navbuttonprevlabel:SR|Back
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_htmlextensions:SX|.htm.html.plg.shtml.stm.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_title:SR|Lake
vti_navbuttonhomelabel:SR|Home
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_dependenciesood:IR|1
vti_secureserverurl:SR|https://lakefish
vti_welcomenames:VX|Default.htm Default.asp
vti_insecureserverurl:SR|file://
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_httpdversion:SX|FrontPage DBW
vti_defaultcharset:SR|none
vti_navbuttonuplabel:SR|Up
