vti_encoding:SR|utf8-nl
clsid\:8ad9c840-044e-11d1-b3e9-00805f499d93:minilake-local.html minilake-old.html minilake.html minilakenojar.html
http\://lakefish.lamar.edu/images/lake/wallpaper1.jpg:minilake-local.html minilake-old.html minilake.html minilakenojar.html
http\://java.sun.com/products/plugin/1.3/jinstall-13-win32.cab:minilake-local.html minilake-old.html minilake.html minilakenojar.html
