{% extends "app/layout.html" %}

{% block content %}

<h2>Contact</h2>
<h3>
    Xing Fang, Ph.D., P.E., D.WRE, F. EWRI, F.ASCE
    <br>
    Arthur H. Feagin Chair Professor of Civil Engineering
</h3>

<address>
    Graduate Program Officer (GPO)<br />
    Department of Civil Engineering<br />
    229 Harbert Engineering Center<br />
    Auburn University, AL  36849-5337<br />
    <abbr title="Phone">P:</abbr>
    +1 (334) 844-8778
    <abbr title="Fax">F:</abbr>
    +1 (334) 844-6290
</address>

<address>
    
    
    <strong>Dr. Xing Fang:</strong>   <a href="mailto: xzf0001@auburn.edu"> xzf0001@auburn.edu</a><br />
    <br />
    <a href="http://www.eng.auburn.edu/users/xzf0001/">Dr. Xing Fang's Homepage</a>
    <br />
    <a href="http://eng.auburn.edu/civil/academics/graduate/index.html">CE Graduate Admission</a>
    <br />
    <a href="https://www.mdpi.com/journal/water">Editorial Board member of Water (MDPI)</a>
</address>

{% endblock %}
