{% extends "app/layout.html" %}

{% block content %}

<h2>NLDAS-2</h2>
<h3>
    North American Land Data Assimilation System (NLDAS-2)
</h3>


<div class="row">
    <h4>    The Module is designed to be the driver for downloading NLDAS GRB files from
    the web.  It will then aggregate the GRB files into daily netCDF files.</h4>
    <br>
    If this is your first time downloading this data, please follow these <a href="https://disc.gsfc.nasa.gov/information/howto?title=How%20to%20Download%20Data%20Files%20from%20HTTPS%20Service%20with%20wget" target="_blank">prerequisites</a> first.
    <br />
    <a href="https://disc.gsfc.nasa.gov/datasets/NLDAS_FORA0125_M_V002/summary?keywords=NLDAs" target="_blank">Please download the subset data by clicking here - NLDAS_FORA0125_M: NLDAS Primary Forcing Data L4 Monthly 0.125 x 0.125 degree V002</a>
    <br />
  <form method="post" enctype="multipart/form-data" action="simple_upload">
    {% csrf_token %}
    <input type="file" name="myfile" accept=".txt" class="btn btn-default">
      <br />
    <button type="submit" name="simple_upload" class="btn btn-default">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <input type="submit" class="btn btn-success" value='Click here to begin GRB download' name='grbsubmit' />
  {% endif %}

</div>
<h4>
<p>{{ result }}</p>
<p>{{ vars }}</p>
<p>{{ startDate }}</p>
<p>{{ startDay }}</p>
<p>{{ startMonth }}</p>
<p>{{ startYear }}</p>
<p>{{ startJulianDay }}</p>
<p>{{ endDate }}</p>
<p>{{ endDay }}</p>
<p>{{ endMonth }}</p>
<p>{{ endYear }}</p>
<p>{{ endJulianDay }}</p>
<p>{{ state }}</p>
<p>{{ city }}</p>
<p>{{ dataset_url }}</p>
    
</h4>
<br />
<br />
<br />
<h4>
    Helpful Documents
</h4>
<li><a href="WeatherData.pdf">Weather Data</a></li>
{% endblock %}




{% block scripts %}
<script type="text/javascript">
    function validateForm()
    {
        var state=document.forms["nldas2"]["date"].value;
        var city=document.forms["nldas2"]["date"].value;
        var date=document.forms["nldas2"]["date"].value;
        var date2 = document.forms["nldas2"]["date2"].value;
        if (state == null || state == "", city == null || city == "", date == null || date == "", date2 == null || date2 == "")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>
<script src="//geodata.solutions/includes/statecity.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            viewMode: 'years',
            format: 'DD/MM/YYYY',
            allowInputToggle: true
        });
    });
        $(function () {
        $('#datetimepicker2').datetimepicker({
            viewMode: 'years',
            format: 'DD/MM/YYYY',
            allowInputToggle: true
        });
    });
</script>

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}