{% extends "app/layout.html" %}

{% block content %}
<!--TODO: Create layout to include exisiting simulations-->
<!-- focus on new lake for now-->
<div class="row">
    <h1>Simulate New Lake <i class="fas fa-chart-area"></i></h1>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createLakeModal">
        <i class="fas fa-plus"></i> Create Lake
    </button>
    <br>
    <br>
    <div class='panel panel-default'>
        <div class="panel-body">
            <h2>Your Saved Lake Models</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lake Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lake Cameron</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Lake Jack</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lake Tyler</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Lake Jordan</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Lake Jonathan</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Lake Robin</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Create Lake Modal-->
<div class="modal fade" id="createLakeModal" tabindex="-1" role="dialog" aria-labelledby="createLakeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="createLakeModalLabel">Create Lake Model</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="simulatelake" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#lakeinfo">Lake Information</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#weatherstation">Weather Station</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#lakegeo">Lake Geometry</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#advanced">Advanced Options</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="lakeinfo" class="tab-pane fade in active">
                            <h4>
                                <b>Lake Information</b>
                            </h4>
                            <p>
                                <i>Enter basic information for lake model.</i>
                            </p>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="simTitle">Simulation Title</label>
                                        <input name="sim_title" placeholder="Enter simulation title." type="text"
                                            class="form-control" id="simTitle">
                                    </div>
                                    <div class="form-group">
                                        <label for="lakeName">Lake Name</label>
                                        <input name="lake_name" placeholder="Enter lake name." type="text"
                                            class="form-control" id="lakeName">
                                    </div>
                                    <div class="form-group">
                                        <label for="start_date_timepicker">Start Simulation Date</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='start_date_timepicker'>
                                                            <input name="start_date_timepicker" type='text'
                                                                class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="end_date_timepicker">End Simulation Date</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='end_date_timepicker'>
                                                            <input name="end_date_timepicker" type='text'
                                                                class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="weatherstation" class="tab-pane fade">
                            <h4>
                                <b>Station Information</b>
                            </h4>
                            <p>
                                <i>Select Weather Station near lake.</i>
                            </p>
                            <hr>
                            <!-- <div class="form-group">
                                <input type="hidden" name="country" id="countryId" value="US" />
                            </div>
                            <div class="form-group">
                                <label for="stateID">State</label>
                                <select name="state" class="states order-alpha form-control" id="stateId">
                                    <option>Select State</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cityId">City</label>
                                <select name="city" class="cities order-alpha form-control limit-pop-1000" id="cityId">
                                    <option>Select City</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label for="state">Select Weather Station</label>
                                <select multiple class="form-control" name="state" id="state">
                                    {% for dp in data %}
                                    <option>{{ dp.StationName }}, {{ dp.StateName | upper }}</li>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="lakegeo" class="tab-pane fade">
                            <h4>Lake Geometry</h4>
                            <p>
                                <i>Enter the geometric characteristics of lake model.</i>
                            </p>
                            <hr>
                            <div class="form-group">
                                <label for="num_horiz_layers">Number of Horizontal Layers Along Depth</label>
                                <input name="num_horiz_layers" max="80" placeholder="Enter value." type="number"
                                    class="form-control" id="num_horiz_layers">
                            </div>
                            <div class="form-group">
                                <label for="maxDepth">Initial Maximum Depth of Lake</label>
                                <input name="max_depth" placeholder="Enter maximum depth value." type="number"
                                    class="form-control" id="maxDepth">
                            </div>
                            <div class="form-group">
                                <label for="elevation">Initial Surface Elevation</label>
                                <input name="elevation" placeholder="Enter value." type="number" class="form-control"
                                    id="elevation">
                            </div>
                            <div class="form-group">
                                <label for="init_uniform_profiles">Initial Uniform Profiles?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="init_uniform_profiles" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="init_uniform_profiles">No
                                </label>
                            </div>
                        </div>
                        <!--#TODO: Validate fields and make fields numeric-->
                        <div id="advanced" class="tab-pane fade">
                            <h4>Advanced Options</h4>
                            <p>
                                <i>Enter advanced options for lake. Default values have been generated.</i>
                            </p>
                            <hr>
                            <div class="form-group">
                                <label for="light_atten_water">Light attenuation coefficient for water (L/mg)</label>
                                <input step=".01" name="light_atten_water" id="light_atten_water"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="light_atten_chlor">Light attenuation coefficient for chlorophyll-a
                                    (L/mg)</label>
                                <input value="20" step=".01" name="light_atten_chlor" id="light_atten_chlor"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="xk1">Constant XK1</label>
                                <input value="-1.84" step=".01" name="xk1" id="xk1" placeholder="Enter value."
                                    type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="wind_sheltering_summer">Wind Sheltering Coefficient for Summer</label>
                                <input step=".01" name="wind_sheltering_summer" id="wind_sheltering_summer"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="wind_sheltering_fall">Wind Sheltering Coefficient for Fall</label>
                                <input step=".01" name="wind_sheltering_fall" id="wind_sheltering_fall"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="temp_wind_sheltering">Wind Sheltering</label>
                                <input value="1" step=".01" name="temp_wind_sheltering" id="temp_wind_sheltering"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_ice_ratio">Snow Thickness/Ice Thickness Ratio</label>
                                <input value="1" step=".01" name="snow_ice_ratio" id="snow_ice_ratio"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="std">Sediment Thermal Diffusivity (m^2/day)</label>
                                <input value="0.035" step=".001" name="std" id="std" placeholder="Enter value."
                                    type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="sediment_density">Sediment Density (kcal/m^3*C)</label>
                                <input value="550" step=".01" name="sediment_density" id="sediment_density"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_compact">Snow Compaction Factor</label>
                                <input value="0.4" step=".01" name="snow_compact" id="snow_compact"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ice_conduct">Ice Conductivity (W/m*C)</label>
                                <input value="2.6" step=".01" name="ice_conduct" id="ice_conduct"
                                    placeholder="Enter value." type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_conduct">Snow Conductivity (W/m*C)</label>
                                <input value="0.27" step=".01" type="number" name="snow_conduct" id="snow_conduct"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="wcht_coefficient">Water Conductive Heat Transfer Coefficient
                                    (kcal/(day*C*m))</label>
                                <input value="11.35" step=".01" type="number" name="wcht_coefficient"
                                    id="wcht_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="max_snow_ice_thickness_ratio">Maxmimum snow and ice thickness ratio</label>
                                <input value="0.1" step=".01" type="number" name="max_snow_ice_thickness_ratio"
                                    id="max_snow_ice_thickness_ratio" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ice_abs_coefficient">Ice Absorption Coefficient</label>
                                <input value="0.17" step=".01" type="number" name="ice_abs_coefficient"
                                    id="ice_abs_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ice_reflect_coefficient">Ice Reflection Coefficient</label>
                                <input value="0.55" step=".01" type="number" name="ice_reflect_coefficient"
                                    id="ice_reflect_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="ice_attn_coefficient">Ice Attenuation Coefficient (1/m)</label>
                                <input value="1.6" step=".01" type="number" name="ice_attn_coefficient"
                                    id="ice_attn_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_abs_coefficient">Snow Absorption Coefficient</label>
                                <input value="0.34" step=".01" type="number" name="snow_abs_coefficient"
                                    id="snow_abs_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_reflect_coefficient">Snow Reflection Coefficient</label>
                                <input value="0.8" step=".01" type="number" name="snow_reflect_coefficient"
                                    id="snow_reflect_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="snow_attn_coefficient">Snow Attenuation Coefficient (1/m)</label>
                                <input value="40" step=".01" type="number" name="snow_attn_coefficient"
                                    id="snow_attn_coefficient" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_ice_thickness">Initial Ice Thickness (m)</label>
                                <input value="0" step=".01" type="number" name="init_ice_thickness"
                                    id="init_ice_thickness" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_snow_thickness">Initial Snow Thickness (m)</label>
                                <input value="0" step=".01" type="number" name="init_snow_thickness"
                                    id="init_snow_thickness" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_water_depths_div">Initial water depths to divide lake into (m)</label>
                                <div class="row">
                                    <div class="form-group col-xs-2">
                                        <input value="0.025" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="0.05" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="0.1" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="0.2" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="0.6" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-2">
                                        <input value="1.0" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="1.5" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input value="2.0" type="number" name="init_water_depths_div"
                                            id="init_water_depths_div" placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input type="number" name="init_water_depths_div" id="init_water_depths_div"
                                            placeholder="Enter value." class="form-control">
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <input type="number" name="init_water_depths_div" id="init_water_depths_div"
                                            placeholder="Enter value." class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="init_water_temps">Initial Water Temperatures (C)</label>
                                <input value="4" type="number" name="init_water_temps" id="init_water_temps"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_sus_solids_conc">Initial Suspended Solids Concentrations (mg/L)</label>
                                <input value="0" type="number" name="init_sus_solids_conc" id="init_sus_solids_conc"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="total_diss_solids">Total Dissolved Solids (mg/L)</label>
                                <input value="0" type="number" name="total_diss_solids" id="total_diss_solids"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_phos_conc">Initial Phosphorous Concentrations (mg/L)</label>
                                <input value="0" type="number" name="init_phos_conc" id="init_phos_conc"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="init_diss_oxy">Initial Dissolved Oxygen (mg/L)</label>
                                <input value="10" type="number" name="init_diss_oxy" id="init_diss_oxy"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="det_decay_rate">Detrital Decay Rate (1/day)</label>
                                <input value="0.1" step=".01" type="number" name="det_decay_rate" id="det_decay_rate"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="sed_oxy_demand">Sedimentary Oxygen Demand (g/m^2/day)</label>
                                <input value="0.2" step=".01" type="number" name="sed_oxy_demand" id="sed_oxy_demand"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="alg_resp_rater">Algal Respiration Rater (1/day)</label>
                                <input value="0.1" step=".01" type="number" name="alg_resp_rater" id="alg_resp_rater"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="max_photo_ratio">Maximum Photosynthesis Ratio</label>
                                <input value="9.6" step=".01" type="number" name="max_photo_ratio" id="max_photo_ratio"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cal_sod_multiplier">Calibrated SOD Multiplier</label>
                                <input value="8" step=".01" type="number" name="cal_sod_multiplier"
                                    id="cal_sod_multiplier" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cal_meta_multiplier">Calibrated Metalimnion Diffusion Coefficient
                                    Multiplier</label>
                                <input value="0.8" step=".01" type="number" name="cal_meta_multiplier"
                                    id="cal_meta_multiplier" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cal_hyp_multiplier">Calibrated Hypolimnion Diffusion Coefficient
                                    Multiplier</label>
                                <input value="1" step=".01" type="number" name="cal_hyp_multiplier"
                                    id="cal_hyp_multiplier" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cal_chla_multiplier">Calibrated Chl-a Concentraion Mulitplier</label>
                                <input value="1" step=".01" type="number" name="cal_chla_multiplier"
                                    id="cal_chla_multiplier" placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="is_outflow_file">Create Outflow File</label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_outflow_file" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_outflow_file">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="is_plot_file">Create Plot File</label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_plot_file" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_plot_file">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="num_depth_plots">Number of Depth Plots</label>
                                <input value="0" type="number" name="num_depth_plots" id="num_depth_plots"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tab_data_interval">Interval Between Days for Tabular Output</label>
                                <input value="5" type="number" name="tab_data_interval" id="tab_data_interval"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inflow_outflow_source">Inflow/Outflow Sources in Inflow Data</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inflow_outflow_source" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inflow_outflow_source">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="field_data_bool">Do You Have Field Data (temperature and/or dissolved oxygen
                                    profiles)?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="field_data_bool" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="field_data_bool">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="chla_data_bool">Do You Have Chl-a Data?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="chla_data_bool" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="chla_data_bool">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="output_sim_profile_bool">Output Simulated Profiles?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="output_sim_profile_bool" checked>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="output_sim_profile_bool">No
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="time_series_output">Number of Depths to Output Time-Series</label>
                                <input value="5" type="number" name="time_series_output" id="time_series_output"
                                    placeholder="Enter value." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="depth_time_series_output">Depths to Output Time-Series for Simulated
                                    Temperature or Dissolved Oxygen</label>
                                <input value="5" type="number" name="depth_time_series_output"
                                    id="depth_time_series_output" placeholder="Enter value." class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Submit" name="submitbtn">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- <script src="//geodata.solutions/includes/statecity.js"></script> -->
<script type="text/javascript">
    $(function () {
        $('#start_date_timepicker').datetimepicker({
            viewMode: 'years',
            format: 'L', //Format to select DD/MM/YYYY
            allowInputToggle: true,
            maxDate: new Date()
        });
        $('#end_date_timepicker').datetimepicker({
            viewMode: 'years',
            format: 'L', //Format to select DD/MM/YYYY
            allowInputToggle: true,
            maxDate: new Date(),
            useCurrent: false //Important! See issue #1075
        });
        $("#start_date_timepicker").on("dp.change", function (e) {
            $('#end_date_timepicker').data("DateTimePicker").minDate(e.date);
        });
        $("#end_date_timepicker").on("dp.change", function (e) {
            $('#start_date_timepicker').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
{% endblock%}